/* ##### FONTS and Elements ##### */

#font-dark {
  color: #2c2e2f;
}

#font-darkish {
  color: #6c7378;
}

#light-card {
  color: #B8A6C2;
  font-size: 1rem;
}

.strong-purple{
  color: #290a3a !important;
}

.pink-destaque{
  background-color: #fb3769 !important;
  border-radius: 3px;
}

h1,h2,h3,h4,h5, {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

p, span, a,ul, li, div {
  font-weight: 500;
  font-size: 1.0rem;
  line-height: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

a {
  color: white;
}

a:hover {
  color: #fb3769;
}

.section-title{
  position:relative;
  text-align: center
}

/* ##### COINTAINER AND BIG BLOCKS ##### */

.full-width{
  width: 100%;
}

.body-logoff{
  background-color: #511771;
  color: white;
}

.body-logon{
  background-color: #F3E4FB;
  border-radius: 5px;
}

.frame-dotted-pink{
  border: 1px dotted #fb3769 ;
}

.content-section {
  background-color: white;
  box-shadow: 2px 2px grey;
  border-radius: 5px;

}

.pre-content-body {
  background-color: white;
  border-bottom: 1px solid #fb3769 ;
}

.info-card {
  background-color: #290a3a;
  color: white;
  display: inline-block;
  width: 95%;
  height: 100%;
  vertical-align: middle;
  border-radius: 9px;
  box-shadow: 2px 2px;
}

.portfolio-card {
  background-color: #f6edef ;
  box-shadow: 2px 2px grey;
}

.card-top{
  background-color: #290a3a ;
}

.card-top-legend {

}

.c-title{

}

.c-text{
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}

.card-top-frame{
  background-color: #290a3a ;
  border-radius: 40px;
  border: 5px solid #fb3769;
  color: white;
  font-size: 4rem;
}

.card-bottom {
  color: white;
  height: 100%;
  width: auto;
  padding: auto;
  margin: auto;
}

.card-buton-bottom-right {
  background-color: #ff0040 ;
}

.card-buton-bottom-left {
  background-color: #830b29 ;
}

.manage-top-header{
  border-bottom: 3px solid #fb3769;
}

.manage-form-frame {
  width: 98%;
}

div.help-block{
  color: #ff0040 !important;
}

#form-block {
  width: 98%;
  height: 620px;
  background-color: white ;
  box-shadow: 2px 2px grey;
  border-radius: 15px;
}

.form-block-header {
  background-color: #290a3a;
  border-radius: 10px;
  width: 100%;
  color: white;
  height: 40px;
}

.add-ativo{
  vertical-align: middle;
  height: 100%;
}

.add-ativo-conteudo{
  display: block;
}

.FII {
  background-color: #641b44 !important ;
}

.Ações{
  background-color: #086041 !important;
}

.TesouroDireto{
  background-color: #7c7c21 !important;
}

.delete-row{

}

.select2-selection__rendered{
  line-height: 20px !important;
  font-size: 1rem !important;
}

.select2-selection{
  height:  calc(1.5em + .75rem + 2px) !important;
  border: 1px solid #ced4da !important;
}

.form-control {
}

.circle {
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 100%;
    border: 8px solid #fb3769;
    text-align: center;
    box-sizing: border-box;

}

.resumo-header{
  background-color: #290a3a ;
  border-radius: 6px;
  color: white;
  box-shadow: 2px 2px grey;
}

.circleContent {
  position: absolute;
  width: 100%;
  top: 40%;
/*   z-index: 2; */
/*   font-weight: 300; */
  line-height: 20px;
}

.circleValue {
    font-size: 53px;
}

.circleUnit {
    font-size: 18px;
/*     font-weight: 400; */
}
#macros-frame{
  background-color: #38314e;
  color: white;
  border-radius: 6px;
  box-shadow: 4px 4px grey;
}

.macros-card {
  background-color: #faf3fe;
  border-radius: 6px;
  box-shadow: 4px 4px grey;
}

.mdados-values{
  font-size: 0.8rem !important;
}

.mdados-title{
  height: 70%;
  float: left;
}

.mdados-destaque{
  background-color: #180d3c;
  border-radius: 5px;
  color: white;
}

.mdados-destaque-header{
  background-color: #fb3769;
  border-radius: 5px;
  color: white;
}

strong.mdados-title {
  color: #450a65 !important;
}

.macros-title{
  background-color: #180d3c;
}

.macros-circle{
  border-radius: 40px;
  border: 5px solid #fb3769;
  color: white;
}

.table-frame{
  background-color: #faf3fe;
  border-radius: 6px;
}

.table-label{
  border-radius: 5px;
}

#table-head-custom{
  font-size: 0.9rem !important;

}

#table-body-custom{
  font-size: 0.95rem !important;

}

/* ##### NAVBAR ##### */

.navbar-custom {
  background-color: #290a3a ;
  font-weight: 800;
  font-size: 20px;

}

nav#navbar-secondary a:hover{
  color: #81A100;
}

.navbar-secondary{
  background-color: #fb3769 ;
  font-weight: 1200;
  font-size: 16px;
  margin-bottom: 15px;
}

.nav-center {
  position: relative;
  left: 28%;
}

.active {
  border-bottom: 2px solid white ;
}

/* ##### NAVBAR ##### */

.footer{
  background-color: #ca9de2;
  width: 100%;
  color: white;
}

/* ##### BUTTONS ##### */

.buton-destaque {
  background-color: #fb3769;
  color: white;
  font-size: 20px;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  border-radius: 12px;
}

.buton {
  background-color: transparent;
  border: 4px solid #fb3769;
  color: white;
  font-size: 18px;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  border-radius: 12px;
}
