{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block extrahead %}
<script src="{% static 'HaluuraApp/js/Forms.AtivoFormFilter.js' %}" type="text/javascript"> </script>
<script src="{% static 'HaluuraApp/js/Forms.RemoveLinks.js' %}" type="text/javascript"> </script>
<script src="{% static 'HaluuraApp/js/Forms.inline-form-add.js' %}" type="text/javascript"> </script>
<script src="{% static 'HaluuraApp/js/Forms.DisplayCorrectFields.js' %}" type="text/javascript"> </script>
{% endblock %}

{% block content %}

<form method="post" id="AplicacaoCreateForm" >
  {% csrf_token %}
  {{formset.management_form}}

    <div class="container" id='{{formset.prefix}}-container'>
      {% for form in formset %}
      <div class="{{  formset.prefix }}-{{ forloop.counter0 }}" id="form-block">
        {% bootstrap_form form  %}
      </div>
      {% endfor %}
    </div>
    <div class="bottomButtons">
      <button type="button" id="ativo-add">Add More</button>
      <input type="submit" class="btn btn-success" value="Save">
    </div>

</form>

<!-- Templates and Scripts -->

<script type="text/javascript">
  // Post load actions
  $('div#form-block').DisplayCorrectFields();

  AutoFilterForm();
  $('#AplicacaoCreateForm div.container').RemoveLinks({
    prefix:'{{ formset.prefix }}',
    containerId: '{{ formset.prefix }}-container',
  });

</script>

<script type="text/javascript">
  // Action on form additions
  $('#ativo-add').djangoInlineFormAdd({
    prefix:'{{ formset.prefix }}',
    formHeight: 50,
  });
  $('#ativo-add').click(function(){
    AutoFilterForm();
    $('#AplicacaoCreateForm div.container').RemoveLinks({
      prefix:'{{ formset.prefix }}',
      containerId: '{{ formset.prefix }}-container',
    });
  });
</script>

<div class="teste" hidden id='aplicacao_set-template'>
  <div class="aplicacao_set-__prefix__" id="form-block">
      {% bootstrap_form formset.empty_form %}
  </div>
</div>


{{ formset.media }}
{% endblock content %}
