{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block extranav %}
  <nav class="navbar navbar-default navbar-expand-lg navbar-secondary mb-0" role="navigation" id="navbar-secondary">
    <div class="container">
      <ul class="navbar-nav nav-center">
          <li class="nav-item ml-3 mr-3 active"> <a class="nav-link" href="{% url 'portfolios:list' %}">Seus Portfolios</a></li>
          <li class="nav-item ml-3 mr-3"> <a class="nav-link" href="{% url 'portfolios:create' %}">Criar Novo</a></li>
          <li class="nav-item ml-3 mr-3"> <a class="nav-link" href="{% url 'portfolios:list' %}">Resumo</a></li>
      </ul>
    </div>
  </nav>
{% endblock extranav %}

{% block pre-content %}
  <div class="pre-content-body p-4 mb-2">
    <div class="container">
      <div class="row d-lg-flex align-items-center">
        <div class="col-6">
          <h1 id="font-dark">Bem vindo, {{user}} !</h1> <br>
          <p id="font-darkish">Aqui estão todos os portfolios que você já cadastrou,
                eles são a base de todas as informações que você acompanha.</p>
        </div>
        <div class="col-6">
          <div class="info-card p-3">
              <div class="row d-lg-flex align-items-center">
                <div class="col-1">
                  <img src="{% static 'HaluuraApp/imgs/interrogation.png' %}" width="30" height="30" alt="">
                </div>
                <div class="col-11">
                  <h5>O que são 'Portfolios' ?</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p id="light-card">
                    Portfolios são conjuntos de ativos (suas aplicações). Eles servem para agrupar todos os seus investimentos
                    e deixar a análise do seu desempenho mais simples.
                  </p>
                </div>
             </div>
             <div class="row">
               <div class="col">
                 <a href="{% url 'portfolios:create' %}">
                   Criar Novo Portfolio >
                 </a>
               </div>
             </div>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock pre-content %}


{% block content %}

<div class="container content-section">
  <div class="row">


    {% for portfolio, valorByTipo in portfolios_completo.items  %}

          <div class="card portfolio-card m-3" style="width: 18rem;">
              <div class="card-top p-2">
                <div class="container">
                  <div class="row">
                    <p id="light-card">Performance:</p>
                  </div>
                  <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                      <div class="card-top-frame d-lg-flex align-items-center p-2 m-1">
                        <h1>{{ ganho }}%</h1>
                      </div>
                    </div>
                    <div class="col">
                    </div>
                  </div>
                  <div class="row card-top-legend pt-1 m-0 text-right">
                    <p class="p-0 m-0" id="light-card">Valor Inicial: {{valorTotalAplicado}}</p>
                    <p class="p-0 m-0" id="light-card">Valor Atualizado: {{valorTotalAtualizado}}</p>
                  </div>

                </div>
              </div>
              <div class="card-body">
                <h3 class="c-title text-center" id="font-dark">{{ portfolio.nome }}</h3>
                <p class="c-text" id="font-darkish">Criado em: {{ portfolio.data_criacao.date }}</p>
              </div>
            <ul class="list-group list-group-flush p-0 m-0">
              {% for tipo, valores in valorByTipo.items %}
                <li class="list-group-item">
                  <p> {{tipo}} : {{valores.valor}} </p>
                </li>
              {% endfor %}
            </ul>
            <div class="card-body p-0">
              <div class="row card-bottom ">
                <div class="col card-buton-bottom-right">
                    <a href="{% url 'portfolios:manage' pk=portfolio.pk %}">
                      <div class="p-1 m-0 full-width">
                        <p class="text-center">Editar</p>
                      </div>
                    </a>
                </div>
                <div class="col card-buton-bottom-left">
                  <a href="{% url 'portfolios:delete' pk=portfolio.pk %}">
                    <div class="p-1 m-0 full-width">
                      <p class="text-center">Excluir</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
         </div>

    {% endfor %}

  </div>
</div>



{% endblock content %}
