<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {# bootstrap #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {# js bootstrap #}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {# fonts #}
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    {# css #}
    <link rel="stylesheet" href="{% static 'HaluuraApp/css/master.css' %}">

    {% block extrahead %}{% endblock %}
    <title>Haluura - Test Server</title>

  </head>

  <body class="body-logoff">

    <nav class="navbar navbar-expand-lg font-poppins" role="navigation" id="navbar">
      <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">
            <img src="{% static 'HaluuraApp/imgs/Logo-Brand-Transp.png' %}" class="w-25 h-25" alt="">
        </a>
        <ul class="navbar-nav ml-auto d-lg-flex align-items-center">
          <li class="nav-item ml-auto">
            <a class="nav-link a-navbar" href="{% url 'accounts:login' %}">
              <div class="buton">
                <strong>Entrar</strong>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <div class="row d-flex justify-content-center m-2 home-title-container">
        <h2>Acompanhe seus investimentos de <strong>forma automática</strong></h2 >
        <h5>Você cadastra seus investimentos uma vez, e nós cuidamos do resto (todo dia!)</h5>
      </div>

      <div class="row d-flex justify-content-center m-2 home-mockup-container ">
        <a href="{% url 'accounts:signup' %}">
          <div class="buton-destaque">
            Cadastra-se gratuitamente
          </div>
        </a>
      </div>

      <div class="row d-flex justify-content-center m-4 home-mockup-container">
        <img src="{% static 'HaluuraApp/imgs/pcMockFrontPagev2.png' %}" class="" alt="">
      </div>

      <div class="row d-flex justify-content-center m-5 home-title-container">
        <h1><strong>Como funciona:</strong></h1>
      </div>

      <div class="row d-flex justify-content-center m-2 home-title-container">
        <div class="col d-flex justify-content-center">
          <div class="container">
            <div class="row  d-flex justify-content-center">
              <img src="{% static 'HaluuraApp/imgs/numberFrontPage-1.png' %}" class="m-1 d-block" alt="">
            </div>
            <div class="row d-flex justify-content-center mt-3">
              <p class="h5 text-center d-block">Cadastre todos os seus investimentos <strong> uma vez</strong></p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="container">
            <div class="row  d-flex justify-content-center">
              <img src="{% static 'HaluuraApp/imgs/numberFrontPage-2.png' %}" class="m-1 d-block" alt="">
            </div>
            <div class="row d-flex justify-content-center mt-3">
              <p class="h5 text-center d-block">Nós vamos rastrear tudo sobre seus investimentos <strong>diariamente</strong></p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="container">
            <div class="row  d-flex justify-content-center">
              <img src="{% static 'HaluuraApp/imgs/numberFrontPage-3.png' %}" class="m-1 d-block" alt="">
            </div>
            <div class="row d-flex justify-content-center mt-3">
              <p class="h5 text-center d-block"><strong>Receba email todos os dias</strong> com o desempenho de seus investimentos</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center m-5 home-title-container border-top border-light">
        <div class="container m-4">
          <div class="row  d-flex justify-content-center">
            <p class="h4 text-center d-block"><strong>Gaste seu tempo tomando boas decisões</strong>, deixe a parte chata com a gente.</p>
          </div>
          <div class="row d-flex justify-content-center mt-3">
            <a href="{% url 'accounts:signup' %}">
              <div class="buton-destaque">
                Cadastra-se gratuitamente
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

  <div class="footer p-2 mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="{% static 'HaluuraApp/imgs/logo-icon-transp.png' %}" width="45" height="45" alt="">
          Kapytalize by
          <a href="https://www.linkedin.com/in/luiz-fernando-meira-filho-5267664a/">
            <span class="pink-destaque p-1"><strong>FernandoMeira</strong></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
